@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
//bootstrap was imported from a CDN in the Jade template. I'm importing it here so I can change or utilize variables.

//== Mixins
@mixin capped-links ($color: white) {
	color: $color;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-size: 12px;
	font-family: $headings-font-family;	
}
//== Variables
$sodoRed: #f05023;
$sodoAlmostBlack:  #090909;
$sodoDarkGray: #1f1f1f;
$sodoMediumGray: #303030;
$sodoLightGray: #898989;
$sodoGrayRule: #5e5e5e;
$sodoTan: #f4f2ea;
$sodoCyan: #0dacbf;
$sodoTableBg: #e8e8e8;

$grayRule: 1px solid $sodoGrayRule;
//== Helpers
.voffset-margin { margin-top: 30px; margin-bottom: 30px;  }
.voffset-padding { padding-top: 30px; padding-bottom: 30px;  }
//== Scaffolding
//
//## Settings for some of the most global styles.

//** Global text color on `<body>`.
$text-color:           	#000 !default;

//** Global textual link color.
$link-color:            $sodoCyan !important;
$brand-primary:			$sodoCyan !important;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Open Sans", Helvetica, Arial, sans-serif !default;
$headings-font-family:   "Cabin", Helvetica, Arial, sans-serif !default;
a {
	color: $sodoCyan;
	&:hover {
		color: darken($sodoCyan, 10%);
	}
}
h1 {
	color: $sodoCyan;
	font-size: 36px;
	font-weight: 600;
	margin-top: 10px;
	@media (max-width: $screen-xs-max){
		font-size: 28px;
	}
}
h2 {
	color: $sodoCyan;
	font-size: 36px;
	font-weight: 600;
	margin-top: 10px;
	text-transform: uppercase;
	font-size: 30px;
}
p {
	font-size: 15px;
	line-height: 22px;
}
//== Buttons
.btn {
	border-radius: 0px !important;
	text-transform: uppercase;
	font-family: $headings-font-family;
	font-size: 15px;
	font-weight: 600;
	&:active {
		@include box-shadow(none);
	}
}
.btn-white {
	margin-top: 20px;
	border: 1px solid $sodoLightGray;
	background-color: white;
	color: black;
}
a.panel-button {
		display: inline-block;
	    position: absolute;
	    right: 26px;
		bottom: 26px;
	   
		@media (max-width: $screen-sm-max) {
			bottom: 15px;
			right: 50%;
			margin-right: -50px;
		}
	}
.site-plan-button {
	font-size: 20px;
	padding: 20px 40px;
}
//== Centered Columns
//http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-centered-columns
@media (min-width: $screen-md-min){
	.row-centered {
	    text-align:center;
	}
	.col-centered {
	    display:inline-block;
	    // float:none;
	    /* reset the text-align */
	    text-align:left;
	    /* inline-block space fix */
	    // margin-right:-4px;
	}
	//== No Gutters for footer
	//http://stackoverflow.com/questions/21254889/how-can-i-remove-the-gutter-between-bootstrap-3-column
	.row.no-pad {
	  margin-right:0;
	  margin-left:0;
	}
	.row.no-pad > [class*='col-'] {
	  padding-right:0;
	  padding-left:0;
	}
}

//== Header and Footer Design
body {
	// min-height: 2000px;
	padding-top: 162px;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	@media (max-width: $screen-sm-max){
		background-color: $sodoTan;
	}
	@media (max-width: $screen-xs-max){
		padding-top: 50px;
	}
}
.logo {
	background: url("../tw-images/texture.jpg");
	text-align: center;
	img {
		width: 321px;
		padding: 32px 0;
	}

}
.navbar-wrap {
	background-color: $sodoDarkGray;
	border-top: 1px solid $sodoGrayRule;
	border-bottom: 1px solid $sodoGrayRule;

}
.navbar-inverse {
	text-align: center;
	ul {
		display: inline-block;
		float: none;
		border-left: 1px solid $sodoGrayRule;
		border-right: 1px solid $sodoGrayRule;
		@media (max-width: $screen-xs-max){
			display: block;
			border: none;
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	li {
		border-right: 1px solid $sodoGrayRule;
		&:last-child {
			border-right: 0;
		}
		@media (max-width: $screen-xs-max){
			border-top: 1px solid $sodoGrayRule;
		}
	}
	.navbar-nav>.active>a{
			background-color: $sodoMediumGray;
			color: $sodoCyan;
	}
	.navbar-nav>li>a {
		&:hover {
			color: $sodoCyan;
			background-color: $sodoMediumGray;
		}
		@include capped-links;
		// color: white;
		// letter-spacing: 0.1em;
		padding: 12px 25px;
	}
}
.navbar-brand img{
	width: 110px;
}

.navbar-collapse.collapse {
	@media (min-width: 768px){
		height: 44px !important;
	}
}

//== Home Page
.jumbotron {
	height: 509px;
	background: $sodoDarkGray url("../tw-images/sodo-hero.jpg") no-repeat center center; 
	text-align: center;
	img {
		max-width: 100%;
	}

}
.intro-wrap {
	background-color: $sodoTan;
}
.home .intro {
	padding-top: 30px;
	padding-right: 140px;
	p {
		font-size: 16px;
		line-height: 26px;
	}
	@media (max-width: $screen-sm-max){
		padding-right: 0;
		text-align: center;
		padding-top: 10px;
	}
	@media (max-width: $screen-md-max){
		h1 {
			font-size: 25px;
		}
	}
}
.double-rule-cyan {
	background:  url("../tw-images/double-rule-cyan.png") 0 0 repeat-x;
	width: 81px;
	height: 13px;
	@media (max-width: $screen-sm-max){
		display: inline-block
	}
}
.carousel-indicators li {
	background-color: #fff;
	margin: 6px;
	&.active, &:hover {
		margin: 6px;
		background-color: $sodoCyan;
		border-color: $sodoCyan;
	}
}

//== Big Map
.big-map {
	@media (max-width: $screen-sm-max){
		padding: 0;
	}
}
.big-map div {
	background: $sodoTan url("../tw-images/homepage-map.jpg") top center no-repeat;
	background-size: 100% auto ;
	height: 350px;
	position: relative;
	
	@media (max-width: $screen-sm-max){
		background-size: auto 100%  ;
	}
}

.double-rule-gray div {
	width: 100%;
	background: #fff url("../tw-images/double-rule-gray.png") center center repeat-x;
	height: 20px;
}
//==Image Strip
.image-strip div{
	height: 248px;
	background: $sodoLightGray url("../tw-images/home-image-strip.jpg") top center no-repeat;
}
//== Our Tenants
.tenants-wrapper {
	background-color: $sodoTan;
	text-align: center;
}
.tenants h2 {
	display: inline-block;
	padding-bottom: 20px;
	&:before, &:after {
		content: url("../tw-images/double-rule-cyan.png");	
		font-size: 24pt;
	    text-align: center;
	    position: relative;
	    top: -9px;
	    padding-right: 10px;
	}
	&:after {
	    padding-left: 10px;
	}
}
.tenants-row div {
		height: 180px;
		margin-top: 30px;
		display: table;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	div {
		display: table-cell;
		vertical-align: middle;
	}
	&.logo1 div{
		background-color: black;
	}
	&.logo2 div{
		background-color: #fb5c21;
	}
	&.logo3 div{
		background-color: white;
	}
	&.logo4 div{
		background-color: #303030;
	}
	&.logo5 div{
		background-color: #608a29;
	}
	&.logo6 div{
		background-color: black;
	}
	img {

		max-width: 130px;
		max-height: 95px;
	}
}
.tenants .button-container {
	text-align: right;
	padding-right: 30px 0;
	padding-bottom: 40px;
	@media (max-width: $screen-md-max){
		text-align: center;
	}
}

//== The Property
.property .jumbotron {
	height: 373px;
	background: $sodoDarkGray url("../tw-images/property-image-strip.jpg") no-repeat center center; 
	text-align: center;
	@media (max-width: $screen-sm-max){
		height: 200px;
		background-size: auto 200px;
	}
}
.property .intro,
.benefits div {
	padding: 50px;
	@media (max-width: $screen-sm-max){
		padding: 30px;

	}
}
.property .intro {
	// p{
	// 	font-size: 16px;
	// 	line-height: 26px;
	// }
	@media (max-width: $screen-sm-max){
		text-align: left;
		padding: 0;
		padding-bottom: 30px;
	}
}
.benefits {
	height: 460px;
		@media (max-width: $screen-sm-max){
		height: auto;
	}

}
.benefits div {
	background-color: $sodoCyan;
	height: 100%;
	border-top: 9px solid $sodoTan;
	border-right: 9px solid $sodoTan;
	border-bottom: 9px solid $sodoTan;
	@media (max-width: $screen-sm-max){
		border: 0;
		height: auto;
	}
}
.benefits li span {
	font-size: 12px;
	background-color: white;
	color: $sodoCyan;
	border: 4px solid white;
	border-radius: 100%;
	margin-right: 3px;
}
.benefits h3 {
	margin: 0 0 30px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	text-transform: uppercase;
	font-weight: 600;
	color: white;
	padding: 10px 0;
}
.benefits li {
	font-size: 17px;
	margin-bottom: 8px;
}
.benefits .btn {
	color: white;
	background-color: $sodoCyan;
	border-color: white;
	@media (max-width: $screen-sm-max){
		display: none;
	}
}
.site-plan {
	@media (max-width: $screen-sm-max){
		padding: 0;
	}
}
.site-plan div {
	text-align: center;
	height: 114px;
}
.modal-dialog {
	width: 80%;
	img {
		max-width: 100%;
	}
}

//== Leasing
.leasing {
	.intro {
		padding-top: 30px;
		padding-left: 50px;
		@media (max-width: $screen-sm-max){
			padding: 0;
			padding-top: 10px;
			padding-bottom: 30px;
		}
	}
	.quote-image {
		overflow: hidden;
		text-align: center;
		background-image:url("../tw-images/leasing-quote-image.jpg");
		background-position: center center;
		background-repeat: no-repeat;
		background-color: $sodoMediumGray;
		height: 400px;
		background-size: cover;
		@media (max-width: $screen-xs-max){
			height: 300px;
		}
	}
	.agent-info {
		padding-top: 15px;
		font-size: 18px;
		line-height: 26px;
	}
	.image-strip div {
		height: 374px;
		background: $sodoMediumGray url("../tw-images/leasing-image-strip.jpg") top center no-repeat;
	}
}

//== Available Spaces
.available {
	.col-md-6 {
		height: 400px;
		@media (max-width: $screen-sm-max){
			height: 400px;
		}
	}
	.hero {
		overflow: hidden;
		text-align: center;
		background: $sodoMediumGray url("../tw-images/available-space-hero.jpg") top center no-repeat;
		height: 100%;
		background-size: cover;
	}
	.intro {
		padding-top: 30px;
		padding-right: 100px;
		padding-bottom: 30px;
		text-align: left;
		@media (max-width: $screen-sm-max){
			padding-top: 10px;
			padding-right: 0;
		}
	}
}
//== Tenant Directory
.tenant-directory {
	.featured {
		margin-left: 20px;
		margin-right: 20px;
	}
	.featured .col-sm-3 {
		margin-top: 30px;
		margin-left: auto;
		margin-right: auto;
		text-align: left;
		.table-container {
			width: 100%;
			display: table;
			text-align: center;
			div {
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				height: 200px;
			}
		}
	&.logo1 div:first-child{
		background-color: black;
	}
	&.logo2 div:first-child{
		background-color: #fb5c21;
	}
	&.logo3 div:first-child{
		background-color: white;
	}
	&.logo4 div:first-child{
		background-color: #303030;
	}
	&.logo5 div:first-child{
		background-color: #608a29;
	}
	&.logo6 div:first-child{
		background-color: black;
	}
	&.logo7 div:first-child{
		background-color: #fb5c21;
	}
	img {
		// width: 80%;
		max-width: 130px;
		max-height: 130px;
	}
	&.logo3 img {
		// width: 100%;
		max-width: 180px;
	}
	&.logo6 img {
		width: 100%;
		max-width: 180px;
	}
}
	.cols-wrap{
		padding: 20px;
		padding-bottom: 40px;
	}
	.featured>div{
		margin-bottom: 20px;
	}
	.ready {
		text-align: center;
	}
	.ready h3 {
		display: inline-block;
		margin-right: 10px;
		text-transform: uppercase;
		color: $sodoCyan;
		font-weight: 600;
		font-size: 18px;
		@media (max-width: 508px){
			margin-right: 0;
		}
	}
	.ready a {
		margin-top: 0;
	}
	h1 {
		margin-top:20px;
		text-align: center;
		&:after, &:before {
			content: url("../tw-images/double-rule-cyan.png");	
			font-size: 24pt;
		    text-align: center;
		    position: relative;
		    top: -9px;
		    padding-left: 10px;
		}
		&:before {
			padding-right: 10px
		}
		@media (max-width: $screen-sm-max){
			margin-top: 0;
		}
	}

	.intro-wrap img {
		width: 100%;
	}
	h2 {
		text-transform: none;
	}
	h4 {
		font-weight: bold;
		margin: 15px 0 5px 0;
	}
	p a, td a {
		color: black;
	}
	.ready h3 {
	}
	.name {
		font-weight: bold;
	}
}
//== Tables
.sodo-table div#no-more-tables-wrap {
	border-top: 10px solid $sodoCyan;
	border-bottom: 10px solid $sodoCyan;
	font-size: 16px;
	background-color: $sodoTableBg;
	padding: 20px;
	padding-bottom: 15px; 
	@media (max-width: $screen-xs-max){
		font-size: 14px;
	}
}
.sodo-table th {
	color: $sodoCyan;
	font-size: 21;
	font-family: $headings-font-family;
	font-weight: 600;
}
.sodo-table .text {
	@media (min-width: $screen-md-min){
		width: 40%;
	}
}
.sodo-table .det-button {
	text-align: right;
}
.sodo-table thead>tr>th {
	border-bottom: none;
}
.sodo-table tbody>tr>td {
	border-color: #b7b7b7;
	padding: 12px;
}
.sodo-table .det-button a {
	@extend .btn;
	@extend .btn-lg;
	@extend .btn-white;
	margin-top: 0;
}
//http://elvery.net/demo/responsive-tables/#no-more-tables
@media only screen and (max-width: 800px) {
	
	.text {
		width: 100%;
	}
	/* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
  
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		// border-bottom: 1px solid #b7b7b7; 
		position: relative;
		padding-left: 35%; 
		white-space: normal;
		text-align:left;
	}
	#no-more-tables tr{
		border-bottom: 1px solid #b7b7b7; 
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: 600;
		color: $sodoCyan;
		padding-top: 6px;
	}
	#no-more-tables .det-button {
	    padding-bottom: 20px;
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}

/////== Footer
.footer-wrapper {
 	background-color: $sodoMediumGray;
 	padding-top:27px;
 	position: relative;
}
footer.container-fluid {
	background: $sodoDarkGray url("../tw-images/texturedark.jpg") 0 0 repeat;
}
.row.border-row {
	border-top: $grayRule;
	border-bottom: $grayRule;
	}	
.footer-content {
	@media (max-width: $screen-md-max){
		width: 100%;
	}
}
.footer-content>col-md-3 {
	border-left: $grayRule;
	border-right: $grayRule;
}
@media (min-width: $screen-md-min){
	.containing-row {
	 	height: 150px;
	 	.col-centered,
	 	.facebook,
	 	.footer-links {
	 		height: 100%;
	 	}
	}
}
.map{
	vertical-align: bottom;
	line-height: 0;
	background: url("../tw-images/footer-map.jpg") 0 0 no-repeat;
	background-size: cover;
}
.map a {
	display: block;
}
.address, 
.footer-links {
	background-color: $sodoDarkGray;
	padding: 25px !important;
	color: white;
	border-left: $grayRule;
	border-right: $grayRule;
	li{
		padding-bottom: 5px;
	}
	@media (max-width: $screen-sm-max){
		border:none;
		text-align: center;
		padding: 0 !important;
		ul {
			margin-bottom: 0;
		}
		li {
			padding: 10px 0;
			border-top: $grayRule;
		}
	}
}
.address {
	padding: 30px !important;
	@media (max-width: $screen-sm-max){
		background-color: transparent;
	}
}
.address p{
	font-size: 14px;
	margin: 5px 0 0 0;
}
.address a {
	@include capped-links($sodoCyan);
}
.footer-logo {
	width: 145px;
	@media (max-width: $screen-sm-max){
		margin: 0 auto;
	}
}
.links-col {
	@media (max-width: $screen-md-max){
		padding-left: 0;
		padding-right: 0;
	}
}
.footer-links a {
	@include capped-links;

}
.facebook {
	display: table;
}
.facebook-icon {
	vertical-align: middle;
    height: 40px;
    display: table-cell;
    a {
    	padding: 12px;
    	display: block;
    	background-color: $sodoDarkGray;
    	border-top: $grayRule;
    	border-bottom: $grayRule;
    }
}
.mobile-facebook {
	position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -27px;
    background-color: $sodoMediumGray;
	    border-radius: 100%;

    img{
	    width: 50px;
	    height: 50px;
	    border-radius: 100%;
	    border: 10px solid $sodoMediumGray;
    }
}
.copyright {
	background-color: $sodoMediumGray;
	text-align: center;
	padding-top: 5px;
	p{
		font-size: 10px;
		text-transform: uppercase;
		color: $sodoLightGray;		
	}

}




