.footer-wrapper
	.mobile-facebook.hidden-md.hidden-lg
		a(href="", target="_blank")
			img(src="tw-images/fb.svg")
	footer.container-fluid
		.row.border-row
			.col-sm-12.footer-content-large
				//- http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-centered-columns
				.container.footer-content
					.row.row-centered.no-pad
						.col-md-1.col-lg-2
						.col-md-10.col-lg-8
							.row.row-centered.no-pad.containing-row
								.col-md-4.col-centered.address
									.footer-logo
											img(src="tw-images/sodo-logo.svg", alt="Sodo Urbanworks")
									p
										| 3901 First Avenue South
										br
										| Seattle, WA 98134
									a.textlink(href="https://www.google.com/maps/place/3901+1st+Ave+S,+Seattle,+WA+98134/@47.5682312,-122.3343028,15z/data=!4m2!3m1!1s0x549041cd3b268289:0xdbc6bed8f1caa79a") View Map &gt;
								a.hidden-xs.hidden-sm(href="https://www.google.com/maps/place/3901+1st+Ave+S,+Seattle,+WA+98134/@47.5682312,-122.3343028,15z/data=!4m2!3m1!1s0x549041cd3b268289:0xdbc6bed8f1caa79a",target="_blank")
									.col-md-4.col-centered.map
										//- img(src="tw-images/footer-map.jpg")
								.col-md-4.col-centered.links-col
									.row.no-pad.containing-row
										.col-md-3.facebook.hidden-sm.hidden-xs
											.facebook-icon
												a(href="", target="_blank")
													img(src="tw-images/fb.svg")
										.col-md-9.footer-links
											ul.list-unstyled
												li
													a(href="property.html") The Property
												li
													a(href="available-spaces.html") Available Spaces
												li
													a(href="tenant-directory.html") Tenant Directory
												li
													a(href="leasing-info.html") Leasing Info
						.col-md-1.col-lg-2
		.row.copyright
			.col-md-12
					p ©2015 SODO URBAN WORKS. ALL RIGHTS RESERVED. 


