extends ../../_bootstrap
append styles
	// Custom styles for this template
	//- link(href='../css/starter-template.css', rel='stylesheet')
block prepend body
	body.available
	+navbar-fixed("Sodo Urbanworks","navbar","inverse")
		+nav_item("property.html") The Property
		+nav_item("available-spaces.html", "active") Available Spaces
		+nav_item("tenant-directory.html") Tenant Directory
		+nav_item("leasing-info.html") Leasing Info
	.container.container-intro
		.intro-wrap.voffset-margin
			.row
				.col-md-6.hidden-xs
					div.hero
				.col-md-6
					.intro
						.double-rule-cyan
						h1 Available Spaces
						p SODO Urban Works offers a variety of spaces and configurations, all with 16’ - 20’ clear height and available parking. We are happy to work with our tenants on build outs and signage opportunities.
						p Contact our leasing agent for more information.

						a.btn.btn-lg.btn-white(href='mailto:shoey@neilwalter.com', role='button') Leasing Info &gt;
		.row.voffset-margin
			.col-md-12.sodo-table
				div#no-more-tables-wrap
					div#no-more-tables
						include inc/available-table.html
		.row.voffset-margin.hidden-sm.hidden-xs
			.col-md-12.site-plan
				div
					a.btn.btn-xl.btn-white.site-plan-button(data-toggle="modal", data-target="#site-plan") View Site Plan &gt;
	+modal("Site Plan", "site-plan", "lease-images/property-site-plan.jpg")
	include inc/_footer.jade
