extends ../../_bootstrap
append styles
	// Custom styles for this template
	link(rel="apple-touch-icon" sizes="180x180" href="tw-images/apple-touch-icon.png")
	link(rel="icon" type="image/png" href="tw-images/favicon-32x32.png" sizes="32x32")
	link(rel="icon" type="image/png" href="tw-images/favicon-16x16.png" sizes="16x16")
	link(rel="manifest" href="tw-images/manifest.json")
	link(rel="mask-icon" href="tw-images/safari-pinned-tab.svg" color="#000000")
	meta(name="theme-color" content="#000000")
block prepend body
	body.home
	+navbar-fixed("Sodo Urbanworks","navbar","inverse")
		+nav_item("property.html") The Property
		+nav_item("available-spaces.html") Available Spaces
		+nav_item("tenant-directory.html") Tenant Directory
		+nav_item("leasing-info.html") Leasing Info
	.jumbotron
		.container
			.row
				.col-md-12.hero-text
					img(src="tw-images/sodo-hero-masthead.png", alt="Sodo Urbanworks: at the Heart of Industry, Invention and Craft.")
	.container.container-intro
		.intro-wrap
			.row
				.col-md-4.hidden-xs.hidden-sm
					+carousel("home-carousel",[{image:"tw-images/home-carousel-1.jpg"},	{image:"tw-images/home-carousel-2.jpg"}, {image:"tw-images/home-carousel-3.jpg"},{image:"tw-images/home-carousel-4.jpg"}])
				.col-md-8
					.intro
						.double-rule-cyan
						h5 SOUTH SEATTLE URBAN BUSINESS SPACES
						h1 Location, Amenities, Energy
						p SODO Urbanworks (Formerly City Commerce Business Park) is a multi-tenant property located in the heart of South Seattle. The park’s eclectic mix of tenants and spaces reflects the old-world industry and progressive urban renewal that characterize the SODO neighborhood.
						a.btn.btn-lg.btn-white(href='available-spaces.html', role='button') See Available Spaces &gt;

		.row.voffset-margin
			.col-md-12.big-map
				div
					a.btn.btn-lg.btn-white.panel-button(href='https://www.google.com/maps/place/3901+1st+Ave+S,+Seattle,+WA+98134/@47.5682312,-122.3343028,15z/data=!4m2!3m1!1s0x549041cd3b268289:0xdbc6bed8f1caa79a', role='button') View Map &gt;
		.row.voffset-margin.hidden-xs.hidden-sm
			.col-md-12.double-rule-gray
				div
	.container-fluid.hidden-xs.hidden-sm
		.row.image-strip
			div
	.tenants-wrapper
		.container.tenants.voffset-padding
			.row
				.col-md-12
					span.double-rule
					h2.our-tenants Our Tenants
					span.double-rule
			.row.tenants-row
				.col-lg-2.col-md-4.col-xs-6.logo1
					div
						img(src="tw-images/tenantlogos_layers_0000_fullpull.png")
				.col-lg-2.col-md-4.col-xs-6.logo2
					div
						img(src="tw-images/tenantlogos_layers_0001_rotie.png")
				.col-lg-2.col-md-4.col-xs-6.logo3
					div
						img(src="tw-images/tenantlogos_layers_0000_soh.png")
				.col-lg-2.col-md-4.col-xs-6.logo4
					div
						img(src="tw-images/tenantlogos_layers_0003_structure.png")
				.col-lg-2.col-md-4.col-xs-6.logo5
					div
						img(src="tw-images/tenantlogos_layers_0004_waters.png")
				.col-lg-2.col-md-4.col-xs-6.logo6
					div
						img(src="tw-images/tenantlogos_layers_0005_kerloo.png")
			.row
				.col-md-12.button-container
					a.btn.btn-lg.btn-white(href='tenant-directory.html', role='button') See All Tenants &gt;
	include inc/_footer.jade
