extends ../../_bootstrap
append styles
	// Custom styles for this template
	//- link(href='../css/starter-template.css', rel='stylesheet')
block prepend body
	body.property
	+navbar-fixed("SODO Urbanworks","navbar","inverse")
		+nav_item("property.html","active") The Property
		+nav_item("available-spaces.html") Available Spaces
		+nav_item("tenant-directory.html") Tenant Directory
		+nav_item("leasing-info.html") Leasing Info
	.jumbotron
		.container
			.row
				.col-md-12
	.container.container-intro.voffset-margin 
		.intro-wrap
			.row
				.col-md-6
					.intro
						.double-rule-cyan
						h1 The Property
						p SODO Urbanworks (Formerly City Commerce Business Park) is a multi-tenant property located in the heart of South Seattle’s thriving SODO neighborhood. Built in 1946, the business park sits on 6.8 acres that includes customer parking and greenspace. Our tenants appreciate the easy access, well-maintained public spaces, and eclectic mix of businesses.
						ul.stats
							li 
								strong Total Rentable Space
								|: 27,882 SF
							li 
								strong Rental Rate
								|: $0.90 - $1.33 /SF/Month
							li 
								strong Min. Divisible Space
								|: 4,406 SF
							li 
								strong Max. Contiguous Space
								|: 6,065 SF
							li 
								strong Zoning Designation
								|: Industrial General (IG1 U/85)
				.col-md-6.benefits
					div
						h3 Benefits
						ul.list-unstyled
							li 
								+icon("ok")
								|  Fast Growing Neighborhood
							li 
								+icon("ok")
								|  Proximity to downtown and transit
							li 
								+icon("ok")
								|  Easy access to I-5
							li 
								+icon("ok")
								|  Directly visibility from 1st Ave S
							li 
								+icon("ok")
								|  Dock and grade-level loading  
							li 
								+icon("ok")
								|  16’ to 20’ clear height  
						a.btn.btn-lg.btn-white(href='#', role='button')
							+icon("download-alt")
							&nbsp;
							| Download Sales Sheet
		.row.voffset-margin.hidden-sm.hidden-xs
			.col-md-12.site-plan
				div
					a.btn.btn-lg.btn-white.site-plan-button(data-toggle="modal", data-target="#site-plan") View Site Plan &gt;
		.row.hidden-xs.hidden-sm
			.col-md-12.double-rule-gray
				div
		.row.voffset-margin
			.col-md-12.big-map
				div
					a.btn.btn-lg.btn-white.panel-button(href='available-spaces.html', role='button') View Map &gt;
	+modal("Site Plan", "site-plan", "lease-images/property-site-plan.jpg")
	include inc/_footer.jade
