extends ../../_bootstrap
append styles
	// Custom styles for this template
	//- link(href='../css/starter-template.css', rel='stylesheet')
block body
	img(src="tw-images/property-site-plan.svg", width="2000")