extends ../../_bootstrap
append styles
	// Custom styles for this template
	//- link(href='../css/starter-template.css', rel='stylesheet')
block prepend body
	body.tenant-directory
	+navbar-fixed("Sodo Urbanworks","navbar","inverse")
		+nav_item("property.html") The Property
		+nav_item("available-spaces.html") Available Spaces
		+nav_item("tenant-directory.html", "active") Tenant Directory
		+nav_item("leasing-info.html") Leasing Info
	.container.container-intro
		.intro-wrap.voffset-margin
			.row
				.col-md-12
					h1 Featured Tenants
			.row
				.cols-wrap.featured
					.col-sm-4
						img(src="tw-images/featured-a.jpg")
						h4 Block Wines
						p As a “house winery” for the Seattle retailer Full Pull Wines, Block Wines creates single-variety wines – from single blocks within single vineyards – to express each small patch of land as transparently as possible.
						p 
							a(target="_blank",href="https://www.fullpullwines.com/") fullpullwines.com
					.col-sm-4
						img(src="tw-images/featured-b.jpg")
						h4 KERLOO CELLARS
						p From Rhône and Syrah wines to varietals like Malbec and Grenache, Kerloo Cellars makes vineyard-specific wines that showcase the grapes’ unique terroir.
						p 
							a(target="_blank",href="http://www.kerloocellars.com/") kerloocellars.com

					.col-sm-4
						img(src="tw-images/featured-c.jpg")
						h4 ROTIE CELLARS
						p Specializing in wine blends of the Rhône Valley, France, Rotie produces small and focused batches from some of the best and oldest vineyards in Washington State.
						p 
							a(target="_blank",href="https://rotiecellars.com/") rotiecellars.com
					
		.row.voffset-margin
			.col-md-12.sodo-table
				div#no-more-tables-wrap
					h2 Tenant Directory
					div#no-more-tables
						include inc/tenants-table.html
					.ready 
						h3 Ready to Join This List?
						a.btn.btn-lg.btn-white(href="available-spaces.html") See Available Spaces &gt;
	+modal("Site Plan", "site-plan", "lease-images/property-site-plan.jpg")
	include inc/_footer.jade
