extends ../../_bootstrap
append styles
	// Custom styles for this template
	//- link(href='../css/starter-template.css', rel='stylesheet')
block prepend body
	body.tenant-directory
	+navbar-fixed("Sodo Urbanworks","navbar","inverse")
		+nav_item("property.html") The Property
		+nav_item("available-spaces.html") Available Spaces
		+nav_item("tenant-directory.html", "active") Tenant Directory
		+nav_item("leasing-info.html") Leasing Info
	.container.container-intro
		.intro-wrap.voffset-margin
			.row
				.col-md-12
					h1 Featured Tenants
			.row
				.cols-wrap.featured
					.row
						.col-sm-3.logo1
							div.table-container
								div
									img(src="tw-images/tenantlogos_layers_0000_fullpull.png")
							div
								h4 Block Wines
								p As a “house winery” for the Seattle retailer Full Pull Wines, Block Wines creates single-variety wines – from single blocks within single vineyards – to express each small patch of land as transparently as possible.
								p 
									a(target="_blank",href="https://www.fullpullwines.com/") fullpullwines.com
						.col-sm-3.logo2
							div.table-container
								div
									img(src="tw-images/tenantlogos_layers_0005_kerloo.png")
							div
								h4 Kerloo Cellars
								p From Rhône and Syrah wines to varietals like Malbec and Grenache, Kerloo Cellars makes vineyard-specific wines that showcase the grapes’ unique terroir.
								p 
									a(target="_blank",href="http://www.kerloocellars.com/") kerloocellars.com
						.col-sm-3.logo3
							div.table-container
								div
									img(src="tw-images/tenantlogos_layers_0000_soh.png")
							div
								h4 Sleight of Hand Cellars
								p New to Seattle from the Walla Walla Valley, Sleight of Hand Cellars offers a wide selection of world-class wines from Washington State’s best vineyard sites.
								p 
									a(target="_blank",href="http://www.sofhcellars.com/default.aspx/") schoonerexact.com
						.col-sm-3.logo4
							div.table-container
								div
									img(src="tw-images/tenantlogos_layers_0001_rotie.png")
							div
								h4 Rotie Cellars
								p Specializing in wine blends of the Rhône Valley, France, Rotie produces small and focused batches from some of the best and oldest vineyards in Washington State.
								p 
									a(target="_blank",href="https://rotiecellars.com/") rotiecellars.com
					.row
						.col-sm-3.logo5
							div.table-container
								div
									img(src="tw-images/tenantlogos_layers_0003_structure.png")
							div
								h4 Structure Cellars
								p From humble beginnings in their Ballard basement, Brian and Brandee, the owners and winemakers of Structure Cellars, have created approachable, food friendly, fruit forward and varietally sound wines with an emphasis on old-world style
								p 
									a(target="_blank",href="http://www.structurewines.com") structurewines.com
						.col-sm-3.logo6
							div.table-container
								div
									img(src="tw-images/tenantlogos_layers_0004_waters.png")
							div
								h4 Waters Winery
								p In limited, small-lot bottling batches, Waters Winery makes distinctive red wines in the Walla Walla Valley that reflect the unique character of each varietal and the qualities of the land from which they come.
								p 
									a(target="_blank",href="http://trwines.com/about/") trwines.com
						.col-sm-3.logo7
							div.table-container
								div
									img(src="tw-images/tenantlogos_layers_0002_schooner.png")
							div
								h4 Schooner Exact
								p In 2006, Schooner EXACT was created, the brainchild of three friends over a batch of homebrew. The next year, the first beers began to flow to the public through pubs, alehouses and restaurants. The family friendly restaurant in SODO Urbanworks was opened in 2012.
								p 
									a(target="_blank",href="http://trwines.com/about/") schoonerexact.com

					
		.row.voffset-margin
			.col-md-12.sodo-table
				div#no-more-tables-wrap
					h2 Tenant Directory
					div#no-more-tables
						include inc/tenants-table.html
					.ready 
						h3 Ready to Join This List?
						a.btn.btn-lg.btn-white(href="available-spaces.html") See Available Spaces &gt;
	+modal("Site Plan", "site-plan", "lease-images/property-site-plan.jpg")
	include inc/_footer.jade
