.footer-wrapper
	footer.container-fluid
		.row
			.col-sm-12.footer-content-large.hidden-sm
				//- http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-centered-columns
				.container.footer-content
					.row.row-centered.no-pad
						.col-md-2
						.col-md-8
							.row.row-centered.no-pad.containing-row
								.col-md-4.col-centered.address
									.footer-logo
											img(src="../tw-images/sodo-logo.svg", alt="Sodo Urbanworks")
									p.
										3901 First Avenue South
										Seattle, WA 98134
									a.textlink(href="#") View Map &gt;
								a(href="#",target="_blank")
									.col-md-4.col-centered.map
										//- img(src="../tw-images/footer-map.jpg")
								.col-md-4.col-centered
									.row.no-pad.containing-row
										.col-md-3.facebook
											.facebook-icon
												a(href="", target="_blank")
													img(src="../tw-images/fb.svg")
										.col-md-9.footer-links
											ul.list-unstyled
												li
													a(href="") The Property
												li
													a(href="") Available Spaces
												li
													a(href="") Tenant Directory
												li
													a(href="") Leasing Info
						.col-md-2
		.row
			.col-md-12.copyright
					p ©2015 SODO URBAN WORKS. ALL RIGHTS RESERVED. 


