+navbar-fixed("Sodo Urbanworks","navbar","inverse")
	+nav_item("property.html","active") The Property
	+nav_item("available-spaces.html") Available Spaces
	+nav_item("tenant-directory.html") Tenant Directory
	+nav_item("leasing-info.html") Leasing Info