extends ../_bootstrap
append styles
	// Custom styles for this template
	//- link(href='../css/starter-template.css', rel='stylesheet')
block prepend body
	body.leasing
	+navbar-fixed("Sodo Urbanworks","navbar","inverse")
		+nav_item("property.html") The Property
		+nav_item("available-spaces.html") Available Spaces
		+nav_item("tenant-directory.html") Tenant Directory
		+nav_item("leasing-info.html","active") Leasing Info
	.container.container-intro.voffset-lrg 
		.intro-wrap
			.row
				.col-md-6
					.intro
						.double-rule-cyan
						h1 Leasing Info
						p For more information on the property and on available spaces and rates, please contact our leasing agent.
						p.agent-info
							| Name 
							br
							| Name 
							br
							| Name 
							br
							a.agent-emai(href="mailto:tinywhale@ransomdesign.com")
						a.btn.btn-lg.btn-white(href='#', role='button') 
							+icon("download-alt")
							|   Download Sales Sheet
				.col-md-6
					div.quote-image
	.container-fluid.voffset-lrg.hidden-sm.hidden-xs
		.row.image-strip
			div
	include _footer.jade
